.hashtag-component {
  color: green;
  display: flex;
  margin: 10px;
  &:hover {
    cursor: pointer;
  }
  &_delete {
    background-image: url(../../assets/close.png);
    background-position: center;
    background-size: contain;
    height: 20px;
    width: 20px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &.active {
    text-decoration: underline;
  }
}
